<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--${} property引用时候的来源-->
    <properties resource="mysql.properties"/>
    <!--类型别名-->
    <!--<typeAliases>
        <typeAlias alias="User" type="com.project.entity.User" />
    </typeAliases>-->
    <!--事物的管理和连接池的配置-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
    <!--mapper映射器-->
    <mappers>
        <!--mapper resource="com/mybatis3/mappers/StudentMapper.xml" -->
        <!--自动扫描此包内的mapper接口和配置文件-->
        <package name="com.project.mapper"/>
    </mappers>
</configuration>